.backToTop {
    width: 50px;
    height: 50px;
    background-color: skyblue;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    border-radius: 50%;
    display: none;
}
.backToTop i {
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    transition: 0.3s ease-in-out;
}
.backToTop:hover{
    background-color: rgb(36, 172, 226);
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}
.backToTop:hover i {
    font-size: 30px;
    line-height: 50px;
}